main {
  margin-bottom: 5em;

  .container {
    @include grid-container;

    nav {
      @include grid-column(12);
      margin-top: -100px;
      margin-bottom: 1em;

      .profile_img {
        margin-bottom: 1em;

        @include grid-media($grid-phone1) {

          img  {
            display: block;
            margin: auto;
            text-align: center;
            width: 200px;
            max-width: 200px;
          }
        }
      }

      h1 {
        text-align: center;
        margin-bottom: 10px;;
        text-transform: uppercase;
      }

      p {
        text-align: center;
      }

      ul {
        text-align: center;
        font-size: $base-font-size * 1.1;

        li {
          display: inline-block;
          margin: 0 15px;
          text-align: center;
        }
      }

      hr {
        margin: 2em auto 3em;
        background: transparentize($bg2, 0.1);

        @include grid-media($grid-desktop1) {
          width: 60%;
          text-align: center;

        }
      }
    }

    .profile {
      @include grid-column(12);
      position: relative;
      opacity: 0;
      display: none;

      .download {
        position: relative;
        font-size: $base-font-size * 0.9;
      }

      span {
        position: absolute;
        right: 0;
        top: -25px;
        font-size: $base-font-size * 1.2;
      }

      @include grid-media($grid-desktop1) {
        @include grid-column(6);
        @include grid-push(3);
      }


    }

    .active_project {
      @include grid-column(12);
      position: relative;
      opacity: 0;
      display: none;

      @include grid-media($grid-desktop1) {
        @include grid-column(6);
        @include grid-push(3);
      }

      span {
        position: absolute;
        right: 0;
        top: -25px;
        font-size: $base-font-size * 1.2;
      }

      img {
        margin: 1em 0;
      }

      .mobile_img {
        @include grid-media($grid-phone1-gutterless);
        @include grid-column(6);
      }

      .desktop_img {

      }
    }

    .projects {

      @include grid-media($grid-phone1) {
        @include grid-column(12)
      }

      @include grid-media($grid-desktop1) {
        @include grid-column(4);
        @include grid-push(3)
      }

      .project, .article {
        cursor: pointer;
        transition: $base-duration;
        margin-bottom: 1.5em;

        &:hover {
          color: shade($action-color, 15%);
        }

        h3 {
          margin-bottom: 5px;
        }

        span {
          color: transparentize($dark-gray, 0.5)
        }
      }

    }

    .articles {

      .article {
        cursor: pointer;
        transition: $base-duration;
        margin-bottom: 1.5em;

        &:hover {
          color: shade($action-color, 15%);
        }

        h3 {
          margin-bottom: 5px;
        }

        span {
          color: transparentize($dark-gray, 0.5)
        }
      }

      @include grid-media($grid-phone1) {
        @include grid-column(12)
      }

      @include grid-media($grid-desktop1) {
        @include grid-column(4)
      }
    }
  }
}